<!DOCTYPE html>
<html lang="fr">

<head>
    <title>FirstReseauSocial</title>
    <meta charset="utf-8">
    <!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"-->
    <link type="text/css" rel="stylesheet" href="../../webroot/css/bootstrap/bootstrap.css">
    <link type="text/javascript" href="../../webroot/js/bootstrap/bootstrap.js">
    <link type="text/javascript" href="../../webroot/js/jquery/jQuery-3.5.1.js">
    <link type="text/javascript" href="../../webroot/FSR/login.js">
</head>

<body>
    <div class="row">
        <div class="col-6">
            <p>blablabla</p>
        </div>
        <div class="col-6">
            <fieldset  style="max-width: 50%; margin: auto;">
                <legend >Login</legend>
                <div class="mb-3">
                    <label>Username/email</label>
                    <input id="username" type="text" placeholder="Enter your username...">
                </div>
                <div>
                    <label>Password</label>
                    <input id="password" type="password" placeholder="Enter your password...">
                </div>
                <button type="submit" id="connection" class="ml-5">Connection</button>
                <hr>
                <button type="button" id="register" class="ml-5">Creer un compte</button>
            </fieldset>
        </div>
    </div>
</body>

</html>